<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}
{% block tabs %}
{{ super() }}

<!-- Main site Entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__image">
          <img style="max-width: 90%" src="https://res.cloudinary.com/dgll6seyc/image/upload/v1711111482/automatiza-mg/apenas_logo.webp" draggable="false">
        </div>
        <div class="tx-hero__content">
          <p style="font-size: 1rem; text-align: left"><b>Mais rápido, mais inteligente, mais eficiente.</b></p>
          <p>Automatização de processos ao alcance do servidor.</p>
          <a href="robos/" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary">
            Biblioteca de robôs
          </a>
          <a href="apoio_form" title="{{ lang.t('source.link.title') }}" class="md-button">
            Quero apoio
          </a>
        </div>
        <nav class="side-menu">
          <ul>
            <li>
              <a href="/" class="page-scroll">
                <span class="menu-title">Início</span>
                <span class="dot"></span>
              </a>
            </li>
            <li>
              <a href="#porque-isso-e-super-legal" class="page-scroll">
                <span class="menu-title">O projeto</span>
                <span class="dot"></span>
              </a>
            </li>
            <li>
              <a href="#veja-funcionando" class="page-scroll">
                <span class="menu-title">Assista</span>
                <span class="dot"></span>
              </a>
            </li>
            <li>
              <a href="#o-projeto-em-numeros" class="page-scroll">
                <span class="menu-title">Números</span>
                <span class="dot"></span>
              </a>
            </li>
            <li>
              <a href="#depoimentos" class="page-scroll">
                <span class="menu-title">Depoimentos</span>
                <span class="dot"></span>
              </a>
            </li>
            <li>
              <a href="#conheca-nossa-equipe" class="page-scroll">
                <span class="menu-title">Equipe</span>
                <span class="dot"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</section>

{% endblock %}

{% block content %}
{{ super() }}
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
