[data-md-color-scheme="automatiza-mg"] {
  --md-primary-fg-color:        #0f1b40;
  --md-primary-fg-color--light: #0a65c1;
  --md-primary-fg-color--dark:  #181919;
}

body p {
  text-align: justify;
}

.md-header__topic span {
  display: none;
}

.p-center {
  text-indent: 0px;
  text-align: center;
}
.p-right {
  text-align: right;
  margin-bottom: 0px;
  margin-top: 0px;
}

.admonition p {
  text-indent: 0px
}

.content-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.content-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.md-main {
  flex-grow: 0
}

.md-main__inner {
  display: flex;
  height: 100%;
}

.tx-container {
  padding-top: .0rem;
  background: linear-gradient(to bottom, var(--md-primary-fg-color), hsl(271, 39%, 43%) 99%,#fff 99%);
  background-image: url('https://res.cloudinary.com/dgll6seyc/image/upload/v1710361554/automatiza-mg/banner.webp');
  background-repeat:no-repeat;
  background-size:cover;
}

.tx-hero {
  margin: 32px 2.8rem;
  color: var(--md-primary-bg-color);
  justify-content: center;
}

.tx-hero h1 {
  margin-bottom: 1rem;
  color: currentColor;
  font-weight: 700
}

.tx-hero__content {
  padding-bottom: 1rem;
  margin: 0 auto;
}

.tx-hero__image{
  width:12rem;
  height:17rem;
  order:1;
  /* padding-right: 1.5rem; */
}

.tx-hero__image img{
  padding-top: 25%;
}

.tx-hero .md-button {
  margin-top: .5rem;
  margin-right: .5rem;
  color: var(--md-primary-bg-color)
}

.tx-hero .md-button--primary {
  background-color: var(--md-primary-bg-color);
  color: hsl(271, 39%, 43%);
  border-color: var(--md-primary-bg-color)
}

.tx-hero .md-button:focus,
.tx-hero .md-button:hover {
  background-color: var(--md-accent-fg-color);
  color: var(--md-default-bg-color);
  border-color: var(--md-accent-fg-color)
}

.feature-item h2 svg {
  height: 30px;
  float: left;
  margin-right: 10px;
  transform: translateY(10%);
}

.top-hr {
  margin-top: 42px;
}

.feature-item {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0 15px;
  word-break: break-word
}

.feature-item h2 {
  color: #333;
  font-weight: 300;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
}

.feature-item p {
  font-size: 16px;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #111;
  margin: 0 0 10px;
  display: block;
}

@media screen and (max-width:30em) {
  .tx-hero h1 {
      font-size: 1.4rem
  }
  .side-menu {
    display: none;
  }

  #iframe-youtube {
    width: 100%!important;
  }

  #logo-mg {
    width: 23em!Important;
  }

}

@media screen and (min-width:60em) {
  .md-sidebar--secondary {
      display: blocks
  }

  .tx-hero {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .tx-hero__content {
      max-width: 22rem;
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
      margin-left: 1.0rem;
      margin-right: 4.0rem;
      align-items: center;
  }

}

@media screen and (min-width:76.25em) {
  .md-sidebar--primary {
      display: blocks
  }

  .top-hr {
      width: 100%;
      display: flex;
      max-width: 61rem;
      margin-right: auto;
      margin-left: auto;
      padding: 0 .2rem;
  }

  .bottom-hr {
      margin-top: 10px;
      width: 100%;
      display: flex;
      max-width: 61rem;
      margin-right: auto;
      margin-left: auto;
      padding: 0 .2rem;
  }

  .feature-item {
      flex: 1;
      min-width: 0;
  }

  /* .feature-item:hover {
      background-color: #526cfe47;
      border-radius: 3px;
  } */
}

#logo-mg {
  padding: 1em;
  width: 25em;
}

.hr {
  border-bottom: 1px solid #eee;
  width: 100%;
  margin: 20px 0;
}

.text-center {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  font-weight: 300;
  padding-bottom: 10px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0 auto;
}

.logos img {
  flex: 1 1 auto;
  padding: 25px;
  max-height: 130px;
  vertical-align: middle;
}

.hr-logos {
  margin-top: 0;
  margin-bottom: 30px;
}

.md-footer-meta__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.0rem;
}

.md-footer-social {
  padding-top: 20px;
}

/* My configurations to home page */

.video-container {
  display: flex;
  justify-content: center;
}

#iframe-youtube {
  width: 60%;
  border-radius:20px';
}

.card-border-radius li {
  border-radius: 10px!important;
}

.light-blue {
  color: #4051B5;
}

.text-larger {
  font-size: larger;
}

.p-center {
  text-align: center;
}

.p-black {
  color: #60a3be;
  font-weight: bold;
}

.h2-center {
  text-align: center;
  font-weight: bold!Important;
  margin-top: 0!Important;
}

.avatar {
  width: 10em;
  height: 10em!important;
  border-radius: 50%;
}

.blue-banner {
  border: none;
  padding: 40px;
  background-color: #0f1b40;
  max-height: 10%;
  border-radius: 20px;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.blue-banner li p {
  margin: 0!Important;
  text-align: center;
}

.blue-banner li {
  margin: 8px!Important;
  border: none!Important;
  padding: 0!Important;
  pointer-events: none;
}

/* ------------------
	Navigation
------------------ */
.side-menu {
	position: fixed;
	right: 2%;
	top: 30%;
    transform: translateY(-73px);
    z-index: 99;
}
.side-menu ul {
  padding-left: 0px!Important;
}
.side-menu ul li {
    text-align: right;
    margin: 10px 0;
    list-style: none;
}
.side-menu ul li a span {
	display: inline-block;
}
.side-menu ul li a span.menu-title {
	color: #fff;
    position: relative;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #60a3be;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 0;
}
.side-menu ul li a:hover span.menu-title {
    opacity: 1;
}
.side-menu ul li a span.dot {
    position: relative;
    background-color: #60a3be;
    border-radius: 2em;
    height: 10px;
    width: 10px;
    -webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
}
.side-menu ul li a:hover span.dot {
	transform: scale(1.8);
}

/* deixa menores SOMENTE os cards dentro de .cards-rede */
.cards-rede .grid.cards > * {
    padding: 0.7rem !important;
    margin: 0.25rem !important;
}

.cards-rede .grid.cards {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)) !important;
}

/* fontes menores sรณ nesse bloco */
.cards-rede .text-larger {
    font-size: 1.05rem !important;
}
